dist/blocks/callback.html

<div class="callback">
  <div class="container">
    <div class="callback__inner">
      <div class="callback__banner">
        <div class="callback__s-name">
          <div class="s-name s-name--white">Отправить заявку</div>
        </div>
        <div class="callback__banner-image" style="background-image:url(assets/images/content/callback-bg.jpg)"></div>
        <div class="callback__banner-content">
          <div class="callback__banner-title">хотите обсудить проект?</div>
          <div class="callback__banner-text">Если вы захотели работать с нами,  пожалйства воспользуйтесь  формой обратной связи</br>  или позвоните нам <a href='tel: +7 (900) 999 - 00 - 00'>+7 (900) 999 - 00 - 00</a></div>
        </div>
      </div>
      <div class="callback__c-form">
        <div class="c-form">
          <form class="c-form__form" id="callbackForm">
            <div class="c-form__inputs">
              <div class="c-form__line">
                <input class="c-form__input validateCompanyName" type="text" placeholder="Название компании" name="companyName"/>
              </div>
              <div class="c-form__line">
                <input class="c-form__input validateName" type="text" placeholder="Имя" name="Name"/>
              </div>
              <div class="c-form__line">
                <input class="c-form__input validatePhone phone" type="text" placeholder="Телефон" name="phone"/>
              </div>
              <div class="c-form__line">
                <input class="c-form__input validateEmail" type="text" placeholder="E-mail" name="email"/>
              </div>
              <div class="c-form__line">
                <textarea class="c-form__textarea" placeholder="Комментарий" name="comment"></textarea>
              </div>
              <div class="c-form__error">Пожалуйста, заполните все необходимые поля.</div>
            </div>
            <div class="c-form__button-wrapper">
              <button class="button button--blue c-form__button" type="submit">Отправить</button>
            </div>
            <div class="c-form__note">Нажимая на эту кнопку вы даете согласие  на обработку персональных данных</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

src/templates/blocks/callback.pug
div.callback
	div.container
		div.callback__inner
			div.callback__banner
				div.callback__s-name
					div.s-name.s-name--white Отправить заявку
				div(style='background-image:url(assets/images/content/callback-bg.jpg)').callback__banner-image
				div.callback__banner-content
					div.callback__banner-title хотите обсудить проект?
					div.callback__banner-text Если вы захотели работать с нами,  пожалйства воспользуйтесь  формой обратной связи</br>  или позвоните нам <a href='tel: +7 (900) 999 - 00 - 00'>+7 (900) 999 - 00 - 00</a>

			div.callback__c-form
				div.c-form
					form.c-form__form#callbackForm
						div.c-form__inputs
							div.c-form__line
								input(type="text" placeholder='Название компании' name='companyName').c-form__input.validateCompanyName
							div.c-form__line
								input(type="text" placeholder='Имя' name='Name').c-form__input.validateName
							div.c-form__line
								input(type="text" placeholder='Телефон' name='phone').c-form__input.validatePhone.phone
							div.c-form__line
								input(type="text" placeholder='E-mail' name='email').c-form__input.validateEmail
							div.c-form__line
								textarea(placeholder='Комментарий' name='comment').c-form__textarea
							div.c-form__error Пожалуйста, заполните все необходимые поля.
						div.c-form__button-wrapper
							button(type='submit').button.button--blue.c-form__button Отправить
						div.c-form__note Нажимая на эту кнопку вы даете согласие  на обработку персональных данных
