dist/blocks/f-footer.html

<div class="footer">
  <div class="container">
    <div class="footer__row">
      <div class="footer__cols">
        <div class="footer__col">
          <div class="footer__col-title">asdas</div>
          <div class="footer__col-links"><a class="footer__col-link" href="#"></a><a class="footer__col-link" href="#"></a><a class="footer__col-link" href="#"></a><a class="footer__col-link" href="#"></a></div>
        </div>
        <div class="footer__col">
          <div class="footer__col-title">asdas</div>
          <div class="footer__col-links"><a class="footer__col-link" href="#"></a><a class="footer__col-link" href="#"></a><a class="footer__col-link" href="#"></a><a class="footer__col-link" href="#"></a></div>
        </div>
        <div class="footer__col">
          <div class="footer__col-title">asdas</div>
          <div class="footer__col-links"><a class="footer__col-link" href="#"></a><a class="footer__col-link" href="#"></a><a class="footer__col-link" href="#"></a><a class="footer__col-link" href="#"></a></div>
        </div>
        <div class="footer__col">
          <div class="footer__col-title">asdas</div>
          <div class="footer__col-links"><a class="footer__col-link" href="#"></a><a class="footer__col-link" href="#"></a><a class="footer__col-link" href="#"></a><a class="footer__col-link" href="#"></a></div>
        </div>
      </div>
      <div class="customer">
        <div class="customer__title">asd</div>
        <div class="customer__rating">
          <div class="customer__rating__stars">
            <!-- место для  звездочеk-->
          </div>
          <div class="customer__rating-text">asds</div>
        </div>
        <div class="customer__link">1-888-579-5910 </div>
        <div class="customer__link">support@beenverified.com </div>
        <div class="customer__line">Open daily 6 am - 11:30 pm EST</div>
        <div class="customer__note">asd</div>
        <div class="customer__line"></div>
      </div>
    </div>
    <div class="footer__socios"><a class="footer__soc" href="#"><img class="footer__soc-img" src="#" alt=""/>
        <div class="footer__soc-text">qwe</div></a><a class="footer__soc" href="#"><img class="footer__soc-img" src="#" alt=""/>
        <div class="footer__soc-text">qwe</div></a><a class="footer__soc" href="#"><img class="footer__soc-img" src="#" alt=""/>
        <div class="footer__soc-text">qwe</div></a></div>
    <div class="footer__bottom">
      <div class="footer__bottom-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi, nesciunt, praesentium perspiciatis ut quam vel eligendi iste molestias libero. Minus mollitia impedit aliquid explicabo nesciunt praesentium. Voluptatibus laboriosam, vero!</div>
      <div class="footer__bottom-more">
        <div class="footer__bottom-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio dolorem quaerat, tenetur qui unde deleniti suscipit aperiam sapiente numquam veniam.</div>
        <div class="footer__bottom-links"><a class="footer__bottom-link" href="#">asdasd</a><a class="footer__bottom-link" href="#">asdasd</a></div>
      </div>
    </div>
  </div>
</div>

src/templates/blocks/f-footer.pug
div.footer
	div.container
		div.footer__row
			div.footer__cols
				div.footer__col
					div.footer__col-title asdas
					div.footer__col-links
						a(href="#").footer__col-link
						a(href="#").footer__col-link
						a(href="#").footer__col-link
						a(href="#").footer__col-link
				div.footer__col
					div.footer__col-title asdas
					div.footer__col-links
						a(href="#").footer__col-link
						a(href="#").footer__col-link
						a(href="#").footer__col-link
						a(href="#").footer__col-link
				div.footer__col
					div.footer__col-title asdas
					div.footer__col-links
						a(href="#").footer__col-link
						a(href="#").footer__col-link
						a(href="#").footer__col-link
						a(href="#").footer__col-link
				div.footer__col
					div.footer__col-title asdas
					div.footer__col-links
						a(href="#").footer__col-link
						a(href="#").footer__col-link
						a(href="#").footer__col-link
						a(href="#").footer__col-link

			div.customer
				div.customer__title asd
				div.customer__rating
					div.customer__rating__stars
						// место для  звездочеk
					div.customer__rating-text asds
				div.customer__link 1-888-579-5910 
				div.customer__link support@beenverified.com 
				div.customer__line Open daily 6 am - 11:30 pm EST
				div.customer__note asd
				div.customer__line

		div.footer__socios
			a(href="#").footer__soc
				img(src="#", alt="").footer__soc-img
				div.footer__soc-text qwe
			a(href="#").footer__soc
				img(src="#", alt="").footer__soc-img
				div.footer__soc-text qwe
			a(href="#").footer__soc
				img(src="#", alt="").footer__soc-img
				div.footer__soc-text qwe

		div.footer__bottom
			div.footer__bottom-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi, nesciunt, praesentium perspiciatis ut quam vel eligendi iste molestias libero. Minus mollitia impedit aliquid explicabo nesciunt praesentium. Voluptatibus laboriosam, vero!
			div.footer__bottom-more
				div.footer__bottom-copy  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio dolorem quaerat, tenetur qui unde deleniti suscipit aperiam sapiente numquam veniam.
				div.footer__bottom-links
					a(href="#").footer__bottom-link asdasd
					a(href="#").footer__bottom-link asdasd
