src/templates/blocks/footer.pug
footer.footer
	div.footer__inner
		div.footer__row
			div.footer__col
				a(href="#").footer__logo
					img(src="assets/images/static/footer__logo.svg", alt="")

			div.footer__col
				div.footer__addr Санкт-Петербург, Россия  <br/>Лиговский проспект,7/А

			div.footer__col
				a(href="tel:88005553535").footer__link +7 (900) 999-00-00
				a(href="mailto:box@mail.ru").footer__link box@mail.ru

			div.footer__col
				div.footer__copy © 2018 Виртуальные приборы

		div.footer__creators <a href='#' class='footer__creators__link'>Разработка сайта - Cakelabs</a>

dist/blocks/footer.html

<footer class="footer">
  <div class="footer__inner">
    <div class="footer__row">
      <div class="footer__col"><a class="footer__logo" href="#"><img src="assets/images/static/footer__logo.svg" alt=""/></a></div>
      <div class="footer__col">
        <div class="footer__addr">Санкт-Петербург, Россия  <br/>Лиговский проспект,7/А</div>
      </div>
      <div class="footer__col"><a class="footer__link" href="tel:88005553535">+7 (900) 999-00-00</a><a class="footer__link" href="mailto:box@mail.ru">box@mail.ru</a></div>
      <div class="footer__col">
        <div class="footer__copy">© 2018 Виртуальные приборы</div>
      </div>
    </div>
    <div class="footer__creators"><a href='#' class='footer__creators__link'>Разработка сайта - Cakelabs</a></div>
  </div>
</footer>
