src/templates/blocks/header.pug
header.header
	div.container
		div.header__row
			a(href="#").header__logo
				img(src="assets/images/static/header__logo.svg", alt="").header__logo-image
			div.header__controls
				nav.header__nav
					a(href="#").header__nav-link.is-active проекты
					a(href="#").header__nav-link услуги
					a(href="#").header__nav-link о компании
					a(href="#").header__nav-link новости
					a(href="#").header__nav-link контакты
				div.header__button
					a(href="#" data-popup='callbackPopup').button.button--grey Заказать проект
				div.header__icons
					a(href="#").header__icon.header__icon--search.js-search
					a(href="#").header__icon.header__icon--call.js-call

div.h-search
	form.h-search__form
		div.container
			div.h-search__top
				input(type="text" placeholder='Что вы ищете?').h-search__input
				div.h-search__closer
			div.h-search__title 16 совпадений
		div.h-results
			div.h-results__inner
				div.h-result
					div.h-result__title Проекты
					div.h-result__content
						div.h-result__content-items
							div.h-result__item
								a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
								div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
							div.h-result__item
								a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
								div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
							div.h-result__item
								a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
								div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
						a(href="#").h-result__more показать все результаты
				div.h-result
					div.h-result__title Новости
					div.h-result__content
						div.h-result__content-items
							div.h-result__item
								a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
								div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
							div.h-result__item
								a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
								div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
							div.h-result__item
								a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
								div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
						a(href="#").h-result__more показать все результаты
				div.h-result
					div.h-result__title Услуги
					div.h-result__content
						div.h-result__content-items
							div.h-result__item
								a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
								div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
							div.h-result__item
								a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
								div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
							div.h-result__item
								a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
								div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
						a(href="#").h-result__more показать все результаты

dist/blocks/header.html

<header class="header">
  <div class="container">
    <div class="header__row"><a class="header__logo" href="#"><img class="header__logo-image" src="assets/images/static/header__logo.svg" alt=""/></a>
      <div class="header__controls">
        <nav class="header__nav"><a class="header__nav-link is-active" href="#">проекты</a><a class="header__nav-link" href="#">услуги</a><a class="header__nav-link" href="#">о компании</a><a class="header__nav-link" href="#">новости</a><a class="header__nav-link" href="#">контакты</a></nav>
        <div class="header__button"><a class="button button--grey" href="#" data-popup="callbackPopup">Заказать проект</a></div>
        <div class="header__icons"><a class="header__icon header__icon--search js-search" href="#"></a><a class="header__icon header__icon--call js-call" href="#"></a></div>
      </div>
    </div>
  </div>
</header>
<div class="h-search">
  <form class="h-search__form">
    <div class="container">
      <div class="h-search__top">
        <input class="h-search__input" type="text" placeholder="Что вы ищете?"/>
        <div class="h-search__closer"></div>
      </div>
      <div class="h-search__title">16 совпадений</div>
    </div>
    <div class="h-results">
      <div class="h-results__inner">
        <div class="h-result">
          <div class="h-result__title">Проекты</div>
          <div class="h-result__content">
            <div class="h-result__content-items">
              <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
              </div>
              <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
              </div>
              <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
              </div>
            </div><a class="h-result__more" href="#">показать все результаты</a>
          </div>
        </div>
        <div class="h-result">
          <div class="h-result__title">Новости</div>
          <div class="h-result__content">
            <div class="h-result__content-items">
              <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
              </div>
              <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
              </div>
              <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
              </div>
            </div><a class="h-result__more" href="#">показать все результаты</a>
          </div>
        </div>
        <div class="h-result">
          <div class="h-result__title">Услуги</div>
          <div class="h-result__content">
            <div class="h-result__content-items">
              <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
              </div>
              <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
              </div>
              <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
              </div>
            </div><a class="h-result__more" href="#">показать все результаты</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
