src/templates/news.pug
extends layout

block title
	title news

block header
	include blocks/header2

block content

	div(style='background-image:url(assets/images/content/news-welcome.jpg)').start
		div.start__inner
			div.start__bread
				div.bread
					a(href="#").bread_link Главная
					a(href="#").bread_link Проекты
					a.bread_link Название проекта

			div.start__title заголовок для</br> небольшого видео</br> о компании

			div.start__text Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике WorldSkills компетенции мобильная робототехника.

			div.start__button
				a(href="#").button.button--blue Подробнее

	div.news
		div.container
			div.news__inner
				div.news__s-name
					div.s-name.s-name--grey Новости

				div.news__row
					div.news__col
						a(href="#" style='background-image: url(assets/images/content/n-card-1.jpg)').n-card.n-card--white-green
							div.n-card__inner
								div.n-card__content
									div.n-card__title заголовок новости
									div.n-card__text Робототехническая платформа - комплект для построения моделей роботов
									div.n-card__date 27 июня '18

					div.news__col.news__col--big
						a(href="#" style='background-color: #1C9AD6').n-card.n-card--white
							div.n-card__inner
								div.n-card__content
									div.n-card__title заголовок новости
									div.n-card__text Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.
									div.n-card__date 27 июня '18

					div.news__col.news__col--big
						a(href="#" style='background-color: #F3F8FA').n-card.n-card--dark-green
							div.n-card__inner
								div.n-card__content
									div.n-card__title заголовок новости
									div.n-card__text Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.
									div.n-card__date 27 июня '18
								div(style='background-image:url(assets/images/content/n-card-2.jpg)').n-card__image

					div.news__col
						a(href="#" style='background-color: #353E49').n-card.n-card--white-green
							div.n-card__inner
								div.n-card__content
									div.n-card__title заголовок новости
									div.n-card__text Робототехническая платформа - комплект для построения моделей роботов
									div.n-card__date 27 июня '18

					div.news__col
						a(href="#" style='background-color: #26BF96').n-card.n-card--white
							div.n-card__inner
								div.n-card__content
									div.n-card__title заголовок новости
									div.n-card__text Робототехническая платформа - комплект для построения моделей роботов
									div.n-card__date 27 июня '18

					div.news__col.news__col--big
						a(href="#" style='background-color: #F3F8FA').n-card.n-card--dark-green
							div.n-card__inner
								div.n-card__content
									div.n-card__title заголовок новости
									div.n-card__text Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.
									div.n-card__date 27 июня '18

					div.news__col.news__col--big
						a(href="#" style='background-color: #F3F8FA').n-card.n-card--dark-green
							div.n-card__inner
								div.n-card__content
									div.n-card__title заголовок новости
									div.n-card__text Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.
									div.n-card__date 27 июня '18
								div(style='background-image:url(assets/images/content/n-card-3.jpg)').n-card__image

					div.news__col
						a(href="#" style='background-color: #353E49').n-card.n-card--white-green
							div.n-card__inner
								div.n-card__content
									div.n-card__title заголовок новости
									div.n-card__text Робототехническая платформа - комплект для построения моделей роботов
									div.n-card__date 27 июня '18

					div.news__col
						a(href="#" style='background-image: url(assets/images/content/n-card-1.jpg)').n-card.n-card--white-green
							div.n-card__inner
								div.n-card__content
									div.n-card__title заголовок новости
									div.n-card__text Робототехническая платформа - комплект для построения моделей роботов
									div.n-card__date 27 июня '18

					div.news__col.news__col--big
						a(href="#" style='background-color: #1C9AD6').n-card.n-card--white
							div.n-card__inner
								div.n-card__content
									div.n-card__title заголовок новости
									div.n-card__text Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.
									div.n-card__date 27 июня '18

				div.news__more
					a(href="#").button.button--green Смотреть больше

	include blocks/callback		

dist/news.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible&quot;,content=&quot;IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>news</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/media.css">
    <link rel="stylesheet" href="assets/css/lib/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/lib/animate.css">
    <link rel="stylesheet" href="assets/css/lib/youtube.css">
  </head>
  <body>
    <div class="page">
      <header class="header header--fill">
        <div class="container">
          <div class="header__row"><a class="header__logo" href="#"><img class="header__logo-image" src="assets/images/static/header__logo.svg" alt=""></a>
            <div class="header__controls">
              <nav class="header__nav"><a class="header__nav-link" href="#">проекты</a><a class="header__nav-link" href="#">услуги</a><a class="header__nav-link" href="#">о компании</a><a class="header__nav-link" href="#">новости</a><a class="header__nav-link" href="#">контакты</a></nav>
              <div class="header__button"><a class="button button--grey" href="#" data-popup="callbackPopup">Заказать проект</a></div>
              <div class="header__icons"><a class="header__icon header__icon--search js-search" href="#"></a><a class="header__icon header__icon--call js-call" href="#"></a></div>
            </div>
          </div>
        </div>
      </header>
      <div class="h-search">
        <form class="h-search__form">
          <div class="container">
            <div class="h-search__top">
              <input class="h-search__input" type="text" placeholder="Что вы ищете?">
              <div class="h-search__closer"></div>
            </div>
            <div class="h-search__title">16 совпадений</div>
          </div>
          <div class="h-results">
            <div class="h-results__inner">
              <div class="h-result">
                <div class="h-result__title">Проекты</div>
                <div class="h-result__content">
                  <div class="h-result__content-items">
                    <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                      <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                    </div>
                    <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                      <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                    </div>
                    <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                      <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                    </div>
                  </div><a class="h-result__more" href="#">показать все результаты</a>
                </div>
              </div>
              <div class="h-result">
                <div class="h-result__title">Новости</div>
                <div class="h-result__content">
                  <div class="h-result__content-items">
                    <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                      <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                    </div>
                    <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                      <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                    </div>
                    <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                      <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                    </div>
                  </div><a class="h-result__more" href="#">показать все результаты</a>
                </div>
              </div>
              <div class="h-result">
                <div class="h-result__title">Услуги</div>
                <div class="h-result__content">
                  <div class="h-result__content-items">
                    <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                      <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                    </div>
                    <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                      <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                    </div>
                    <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                      <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                    </div>
                  </div><a class="h-result__more" href="#">показать все результаты</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="content">
        <div class="start" style="background-image:url(assets/images/content/news-welcome.jpg)">
          <div class="start__inner">
            <div class="start__bread">
              <div class="bread"><a class="bread_link" href="#">Главная</a><a class="bread_link" href="#">Проекты</a><a class="bread_link">Название проекта</a></div>
            </div>
            <div class="start__title">заголовок для</br> небольшого видео</br> о компании</div>
            <div class="start__text">Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике WorldSkills компетенции мобильная робототехника.</div>
            <div class="start__button"><a class="button button--blue" href="#">Подробнее</a></div>
          </div>
        </div>
        <div class="news">
          <div class="container">
            <div class="news__inner">
              <div class="news__s-name">
                <div class="s-name s-name--grey">Новости</div>
              </div>
              <div class="news__row">
                <div class="news__col"><a class="n-card n-card--white-green" href="#" style="background-image: url(assets/images/content/n-card-1.jpg)">
                    <div class="n-card__inner">
                      <div class="n-card__content">
                        <div class="n-card__title">заголовок новости</div>
                        <div class="n-card__text">Робототехническая платформа - комплект для построения моделей роботов</div>
                        <div class="n-card__date">27 июня '18</div>
                      </div>
                    </div></a></div>
                <div class="news__col news__col--big"><a class="n-card n-card--white" href="#" style="background-color: #1C9AD6">
                    <div class="n-card__inner">
                      <div class="n-card__content">
                        <div class="n-card__title">заголовок новости</div>
                        <div class="n-card__text">Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.</div>
                        <div class="n-card__date">27 июня '18</div>
                      </div>
                    </div></a></div>
                <div class="news__col news__col--big"><a class="n-card n-card--dark-green" href="#" style="background-color: #F3F8FA">
                    <div class="n-card__inner">
                      <div class="n-card__content">
                        <div class="n-card__title">заголовок новости</div>
                        <div class="n-card__text">Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.</div>
                        <div class="n-card__date">27 июня '18</div>
                      </div>
                      <div class="n-card__image" style="background-image:url(assets/images/content/n-card-2.jpg)"></div>
                    </div></a></div>
                <div class="news__col"><a class="n-card n-card--white-green" href="#" style="background-color: #353E49">
                    <div class="n-card__inner">
                      <div class="n-card__content">
                        <div class="n-card__title">заголовок новости</div>
                        <div class="n-card__text">Робототехническая платформа - комплект для построения моделей роботов</div>
                        <div class="n-card__date">27 июня '18</div>
                      </div>
                    </div></a></div>
                <div class="news__col"><a class="n-card n-card--white" href="#" style="background-color: #26BF96">
                    <div class="n-card__inner">
                      <div class="n-card__content">
                        <div class="n-card__title">заголовок новости</div>
                        <div class="n-card__text">Робототехническая платформа - комплект для построения моделей роботов</div>
                        <div class="n-card__date">27 июня '18</div>
                      </div>
                    </div></a></div>
                <div class="news__col news__col--big"><a class="n-card n-card--dark-green" href="#" style="background-color: #F3F8FA">
                    <div class="n-card__inner">
                      <div class="n-card__content">
                        <div class="n-card__title">заголовок новости</div>
                        <div class="n-card__text">Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.</div>
                        <div class="n-card__date">27 июня '18</div>
                      </div>
                    </div></a></div>
                <div class="news__col news__col--big"><a class="n-card n-card--dark-green" href="#" style="background-color: #F3F8FA">
                    <div class="n-card__inner">
                      <div class="n-card__content">
                        <div class="n-card__title">заголовок новости</div>
                        <div class="n-card__text">Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.</div>
                        <div class="n-card__date">27 июня '18</div>
                      </div>
                      <div class="n-card__image" style="background-image:url(assets/images/content/n-card-3.jpg)"></div>
                    </div></a></div>
                <div class="news__col"><a class="n-card n-card--white-green" href="#" style="background-color: #353E49">
                    <div class="n-card__inner">
                      <div class="n-card__content">
                        <div class="n-card__title">заголовок новости</div>
                        <div class="n-card__text">Робототехническая платформа - комплект для построения моделей роботов</div>
                        <div class="n-card__date">27 июня '18</div>
                      </div>
                    </div></a></div>
                <div class="news__col"><a class="n-card n-card--white-green" href="#" style="background-image: url(assets/images/content/n-card-1.jpg)">
                    <div class="n-card__inner">
                      <div class="n-card__content">
                        <div class="n-card__title">заголовок новости</div>
                        <div class="n-card__text">Робототехническая платформа - комплект для построения моделей роботов</div>
                        <div class="n-card__date">27 июня '18</div>
                      </div>
                    </div></a></div>
                <div class="news__col news__col--big"><a class="n-card n-card--white" href="#" style="background-color: #1C9AD6">
                    <div class="n-card__inner">
                      <div class="n-card__content">
                        <div class="n-card__title">заголовок новости</div>
                        <div class="n-card__text">Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.</div>
                        <div class="n-card__date">27 июня '18</div>
                      </div>
                    </div></a></div>
              </div>
              <div class="news__more"><a class="button button--green" href="#">Смотреть больше</a></div>
            </div>
          </div>
        </div>
        <div class="callback">
          <div class="container">
            <div class="callback__inner">
              <div class="callback__banner">
                <div class="callback__s-name">
                  <div class="s-name s-name--white">Отправить заявку</div>
                </div>
                <div class="callback__banner-image" style="background-image:url(assets/images/content/callback-bg.jpg)"></div>
                <div class="callback__banner-content">
                  <div class="callback__banner-title">хотите обсудить проект?</div>
                  <div class="callback__banner-text">Если вы захотели работать с нами,  пожалйства воспользуйтесь  формой обратной связи</br>  или позвоните нам <a href='tel: +7 (900) 999 - 00 - 00'>+7 (900) 999 - 00 - 00</a></div>
                </div>
              </div>
              <div class="callback__c-form">
                <div class="c-form">
                  <form class="c-form__form" id="callbackForm">
                    <div class="c-form__inputs">
                      <div class="c-form__line">
                        <input class="c-form__input validateCompanyName" type="text" placeholder="Название компании" name="companyName">
                      </div>
                      <div class="c-form__line">
                        <input class="c-form__input validateName" type="text" placeholder="Имя" name="Name">
                      </div>
                      <div class="c-form__line">
                        <input class="c-form__input validatePhone phone" type="text" placeholder="Телефон" name="phone">
                      </div>
                      <div class="c-form__line">
                        <input class="c-form__input validateEmail" type="text" placeholder="E-mail" name="email">
                      </div>
                      <div class="c-form__line">
                        <textarea class="c-form__textarea" placeholder="Комментарий" name="comment"></textarea>
                      </div>
                      <div class="c-form__error">Пожалуйста, заполните все необходимые поля.</div>
                    </div>
                    <div class="c-form__button-wrapper">
                      <button class="button button--blue c-form__button" type="submit">Отправить</button>
                    </div>
                    <div class="c-form__note">Нажимая на эту кнопку вы даете согласие  на обработку персональных данных</div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="footer__inner">
          <div class="footer__row">
            <div class="footer__col"><a class="footer__logo" href="#"><img src="assets/images/static/footer__logo.svg" alt=""></a></div>
            <div class="footer__col">
              <div class="footer__addr">Санкт-Петербург, Россия  <br/>Лиговский проспект,7/А</div>
            </div>
            <div class="footer__col"><a class="footer__link" href="tel:88005553535">+7 (900) 999-00-00</a><a class="footer__link" href="mailto:box@mail.ru">box@mail.ru</a></div>
            <div class="footer__col">
              <div class="footer__copy">© 2018 Виртуальные приборы</div>
            </div>
          </div>
          <div class="footer__creators"><a href='#' class='footer__creators__link'>Разработка сайта - Cakelabs</a></div>
        </div>
      </footer>
    </div>
    <div class="popup is-visible" id="callbackPopup">
      <div class="popup__inner">
        <div class="popup__closer"></div>
        <div class="popup__row">
          <div class="popup__content">
            <div class="popup__content-title">Хотите обсудить проект?</div>
            <div class="popup__content-text">Если вы захотели работать с нами,  пожалуйста воспользуйтесь  формой обратной связи</br>  или позвоните нам +7 (900) 999 - 00 - 00</div>
          </div>
          <div class="popup__form">
            <form class="c-form__form" id="popupForm">
              <div class="c-form__inputs">
                <div class="c-form__line">
                  <input class="c-form__input validateCompanyName" type="text" placeholder="Название компании" name="companyName">
                </div>
                <div class="c-form__line">
                  <input class="c-form__input validateName" type="text" placeholder="Имя" name="Name">
                </div>
                <div class="c-form__line">
                  <input class="c-form__input validatePhone phone" type="text" placeholder="Телефон" name="phone">
                </div>
                <div class="c-form__line">
                  <input class="c-form__input validateEmail" type="text" placeholder="E-mail" name="email">
                </div>
                <div class="c-form__line">
                  <textarea class="c-form__textarea" placeholder="Комментарий" name="comment"></textarea>
                </div>
                <div class="c-form__error">Пожалуйста, заполните все необходимые поля.</div>
              </div>
              <div class="c-form__button-wrapper">
                <button class="button button--blue c-form__button" type="submit">Отправить</button>
              </div>
              <div class="c-form__note">Нажимая на эту кнопку вы даете согласие  на обработку персональных данных</div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="popup popup--success" id="successPopup">
      <div class="popup__inner">
        <div class="popup__closer"></div>
        <div class="popup__row">
          <div class="popup__content">
            <div class="popup__content-title">Успешно!</div>
            <div class="popup__content-text">Ваша заявка отправлена, в ближайшее время мы свяжемся с вами по телефону.</div>
          </div>
          <div class="popup__hides">Это окно закроется автоматически</br>  через <span class='popup__timer'>4</span> <span class='popup__seconds'>секунд</span>.</div>
        </div>
      </div>
    </div>
    <script src="assets/js/lib/jquery-3.1.1.min-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
    <script src="assets/js/lib/svg-min.js"></script>
    <script src="assets/js/lib/owl.carousel.min-min.js"></script>
    <script src="assets/js/lib/validate-min.js"></script>
    <script src="assets/js/lib/mask-min.js"></script>
    <script src="assets/js/lib/youtube.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="assets/js/map.js"></script>
    <script src="assets/js/p-map.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
