dist/search.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible&quot;,content=&quot;IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>search</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/media.css">
    <link rel="stylesheet" href="assets/css/lib/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/lib/animate.css">
    <link rel="stylesheet" href="assets/css/lib/youtube.css">
  </head>
  <body>
    <div class="page">
      <header class="header header--fill">
        <div class="container">
          <div class="header__row"><a class="header__logo" href="#"><img class="header__logo-image" src="assets/images/static/header__logo.svg" alt=""></a>
            <div class="header__controls">
              <nav class="header__nav"><a class="header__nav-link" href="#">проекты</a><a class="header__nav-link" href="#">услуги</a><a class="header__nav-link" href="#">о компании</a><a class="header__nav-link" href="#">новости</a><a class="header__nav-link" href="#">контакты</a></nav>
              <div class="header__button"><a class="button button--grey" href="#" data-popup="callbackPopup">Заказать проект</a></div>
              <div class="header__icons"><a class="header__icon header__icon--search js-search" href="#"></a><a class="header__icon header__icon--call js-call" href="#"></a></div>
            </div>
          </div>
        </div>
      </header>
      <div class="h-search">
        <form class="h-search__form">
          <div class="container">
            <div class="h-search__top">
              <input class="h-search__input" type="text" placeholder="Что вы ищете?">
              <div class="h-search__closer"></div>
            </div>
            <div class="h-search__title">16 совпадений</div>
          </div>
          <div class="h-results">
            <div class="h-results__inner">
              <div class="h-result">
                <div class="h-result__title">Проекты</div>
                <div class="h-result__content">
                  <div class="h-result__content-items">
                    <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                      <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                    </div>
                    <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                      <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                    </div>
                    <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                      <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                    </div>
                  </div><a class="h-result__more" href="#">показать все результаты</a>
                </div>
              </div>
              <div class="h-result">
                <div class="h-result__title">Новости</div>
                <div class="h-result__content">
                  <div class="h-result__content-items">
                    <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                      <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                    </div>
                    <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                      <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                    </div>
                    <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                      <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                    </div>
                  </div><a class="h-result__more" href="#">показать все результаты</a>
                </div>
              </div>
              <div class="h-result">
                <div class="h-result__title">Услуги</div>
                <div class="h-result__content">
                  <div class="h-result__content-items">
                    <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                      <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                    </div>
                    <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                      <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                    </div>
                    <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                      <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                    </div>
                  </div><a class="h-result__more" href="#">показать все результаты</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="content">
        <div class="search">
          <form class="h-search__form">
            <div class="container">
              <div class="h-search__top">
                <input class="h-search__input" type="text" placeholder="Что вы ищете?">
              </div>
              <div class="h-search__title">16 совпадений</div>
            </div>
            <div class="h-results">
              <div class="h-results__inner">
                <div class="h-result">
                  <div class="h-result__title">Проекты</div>
                  <div class="h-result__content">
                    <div class="h-result__content-items">
                      <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                        <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                      </div>
                      <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                        <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                      </div>
                      <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                        <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                      </div>
                    </div><a class="h-result__more" href="#">показать все результаты</a>
                  </div>
                </div>
                <div class="h-result">
                  <div class="h-result__title">Новости</div>
                  <div class="h-result__content">
                    <div class="h-result__content-items">
                      <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                        <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                      </div>
                      <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                        <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                      </div>
                      <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                        <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                      </div>
                    </div><a class="h-result__more" href="#">показать все результаты</a>
                  </div>
                </div>
                <div class="h-result">
                  <div class="h-result__title">Услуги</div>
                  <div class="h-result__content">
                    <div class="h-result__content-items">
                      <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                        <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                      </div>
                      <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                        <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                      </div>
                      <div class="h-result__item"><a class="h-result__item-title" href="#">NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов</a>
                        <div class="h-result__item-text">Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.</div>
                      </div>
                    </div><a class="h-result__more" href="#">показать все результаты</a>
                  </div>
                </div>
              </div>
              <div class="search__pagination">
                <div class="pagination"><a class="pagination__nav pagination__nav--prev" href="#"></a><a class="pagination__nav pagination__nav--active" href="#">1</a><a class="pagination__nav" href="#">2</a><a class="pagination__nav" href="#">...</a><a class="pagination__nav" href="#">5</a><a class="pagination__nav" href="#">6</a><a class="pagination__nav pagination__nav--next" href="#"></a></div>
              </div>
            </div>
          </form>
        </div>
        <div class="callback">
          <div class="container">
            <div class="callback__inner">
              <div class="callback__banner">
                <div class="callback__s-name">
                  <div class="s-name s-name--white">Отправить заявку</div>
                </div>
                <div class="callback__banner-image" style="background-image:url(assets/images/content/callback-bg.jpg)"></div>
                <div class="callback__banner-content">
                  <div class="callback__banner-title">хотите обсудить проект?</div>
                  <div class="callback__banner-text">Если вы захотели работать с нами,  пожалйства воспользуйтесь  формой обратной связи</br>  или позвоните нам <a href='tel: +7 (900) 999 - 00 - 00'>+7 (900) 999 - 00 - 00</a></div>
                </div>
              </div>
              <div class="callback__c-form">
                <div class="c-form">
                  <form class="c-form__form" id="callbackForm">
                    <div class="c-form__inputs">
                      <div class="c-form__line">
                        <input class="c-form__input validateCompanyName" type="text" placeholder="Название компании" name="companyName">
                      </div>
                      <div class="c-form__line">
                        <input class="c-form__input validateName" type="text" placeholder="Имя" name="Name">
                      </div>
                      <div class="c-form__line">
                        <input class="c-form__input validatePhone phone" type="text" placeholder="Телефон" name="phone">
                      </div>
                      <div class="c-form__line">
                        <input class="c-form__input validateEmail" type="text" placeholder="E-mail" name="email">
                      </div>
                      <div class="c-form__line">
                        <textarea class="c-form__textarea" placeholder="Комментарий" name="comment"></textarea>
                      </div>
                      <div class="c-form__error">Пожалуйста, заполните все необходимые поля.</div>
                    </div>
                    <div class="c-form__button-wrapper">
                      <button class="button button--blue c-form__button" type="submit">Отправить</button>
                    </div>
                    <div class="c-form__note">Нажимая на эту кнопку вы даете согласие  на обработку персональных данных</div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="footer__inner">
          <div class="footer__row">
            <div class="footer__col"><a class="footer__logo" href="#"><img src="assets/images/static/footer__logo.svg" alt=""></a></div>
            <div class="footer__col">
              <div class="footer__addr">Санкт-Петербург, Россия  <br/>Лиговский проспект,7/А</div>
            </div>
            <div class="footer__col"><a class="footer__link" href="tel:88005553535">+7 (900) 999-00-00</a><a class="footer__link" href="mailto:box@mail.ru">box@mail.ru</a></div>
            <div class="footer__col">
              <div class="footer__copy">© 2018 Виртуальные приборы</div>
            </div>
          </div>
          <div class="footer__creators"><a href='#' class='footer__creators__link'>Разработка сайта - Cakelabs</a></div>
        </div>
      </footer>
    </div>
    <div class="popup is-visible" id="callbackPopup">
      <div class="popup__inner">
        <div class="popup__closer"></div>
        <div class="popup__row">
          <div class="popup__content">
            <div class="popup__content-title">Хотите обсудить проект?</div>
            <div class="popup__content-text">Если вы захотели работать с нами,  пожалуйста воспользуйтесь  формой обратной связи</br>  или позвоните нам +7 (900) 999 - 00 - 00</div>
          </div>
          <div class="popup__form">
            <form class="c-form__form" id="popupForm">
              <div class="c-form__inputs">
                <div class="c-form__line">
                  <input class="c-form__input validateCompanyName" type="text" placeholder="Название компании" name="companyName">
                </div>
                <div class="c-form__line">
                  <input class="c-form__input validateName" type="text" placeholder="Имя" name="Name">
                </div>
                <div class="c-form__line">
                  <input class="c-form__input validatePhone phone" type="text" placeholder="Телефон" name="phone">
                </div>
                <div class="c-form__line">
                  <input class="c-form__input validateEmail" type="text" placeholder="E-mail" name="email">
                </div>
                <div class="c-form__line">
                  <textarea class="c-form__textarea" placeholder="Комментарий" name="comment"></textarea>
                </div>
                <div class="c-form__error">Пожалуйста, заполните все необходимые поля.</div>
              </div>
              <div class="c-form__button-wrapper">
                <button class="button button--blue c-form__button" type="submit">Отправить</button>
              </div>
              <div class="c-form__note">Нажимая на эту кнопку вы даете согласие  на обработку персональных данных</div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="popup popup--success" id="successPopup">
      <div class="popup__inner">
        <div class="popup__closer"></div>
        <div class="popup__row">
          <div class="popup__content">
            <div class="popup__content-title">Успешно!</div>
            <div class="popup__content-text">Ваша заявка отправлена, в ближайшее время мы свяжемся с вами по телефону.</div>
          </div>
          <div class="popup__hides">Это окно закроется автоматически</br>  через <span class='popup__timer'>4</span> <span class='popup__seconds'>секунд</span>.</div>
        </div>
      </div>
    </div>
    <script src="assets/js/lib/jquery-3.1.1.min-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
    <script src="assets/js/lib/svg-min.js"></script>
    <script src="assets/js/lib/owl.carousel.min-min.js"></script>
    <script src="assets/js/lib/validate-min.js"></script>
    <script src="assets/js/lib/mask-min.js"></script>
    <script src="assets/js/lib/youtube.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="assets/js/map.js"></script>
    <script src="assets/js/p-map.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>

src/templates/search.pug
extends layout

block title
	title search

block header
	include blocks/header2

block content
	div.search
		form.h-search__form
			div.container
				div.h-search__top
					input(type="text" placeholder='Что вы ищете?').h-search__input
				div.h-search__title 16 совпадений
			div.h-results
				div.h-results__inner
					div.h-result
						div.h-result__title Проекты
						div.h-result__content
							div.h-result__content-items
								div.h-result__item
									a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
									div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
								div.h-result__item
									a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
									div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
								div.h-result__item
									a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
									div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
							a(href="#").h-result__more показать все результаты
					div.h-result
						div.h-result__title Новости
						div.h-result__content
							div.h-result__content-items
								div.h-result__item
									a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
									div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
								div.h-result__item
									a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
									div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
								div.h-result__item
									a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
									div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
							a(href="#").h-result__more показать все результаты
					div.h-result
						div.h-result__title Услуги
						div.h-result__content
							div.h-result__content-items
								div.h-result__item
									a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
									div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
								div.h-result__item
									a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
									div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
								div.h-result__item
									a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
									div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
							a(href="#").h-result__more показать все результаты

				div.search__pagination
					div.pagination
						a(href="#").pagination__nav.pagination__nav--prev
						a(href="#").pagination__nav.pagination__nav--active 1
						a(href="#").pagination__nav 2
						a(href="#").pagination__nav ...
						a(href="#").pagination__nav 5
						a(href="#").pagination__nav 6
						a(href="#").pagination__nav.pagination__nav--next

	include blocks/callback
